.center{
  margin-top: 22px;
  margin-left: 10px;
}

.orangenav{
  background: #FCA13E;
}

.nearsoft{
  float:right;
  width:60px; 
  height:60px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
