<div class="row" ng-controller="SlideCtrl">
<!-- <div class=" SevenG col-xs-6 col-md-3"> 7GEESE PLUGIN
</div> -->
	<div id="lines" class="col-md1 NsSlide">
		<nav class="navbar header navbar-static-top" role="navigation" style="min-height:82px">
			<h1 align="center">{{slide.title}}
				<img class="img-circle img-responsive logo_slide" src="../images/nearsoft.png">
			</h1>
		</nav>	
		<!-- content begins here -->
		<div class="row" style="margin:20px; padding:20px;" align="center">
			<div class="text-container col-xs-12 col-md-8">
				<p><span id="bullets" class="glyphicon glyphicon-record"></span>{{slide.p1}}</p>
				<br>
				<p><span id="bullets" class="glyphicon glyphicon-record"></span>{{slide.p2}}</p>
			</div>
			<!-- slideshow images -->
			<div class="col-xs-6 col-md-4">
				<div style="margin: 0 20px 0 20px; align:center;">
					<img  src="{{slide.img}}" class="img-thumbnail" >
				</div>
			</div>		
		</div>
		<!-- content ends here -->
	</div>
</div>
