
<script type="text/javascript">
		var filePayload = "";
	    document.getElementById("file-upload").addEventListener('change', handleFileSelect, false);
	    
</script>
<!-- make this a directive -->
<nav class="login-nav navbar" role="navigation" style="min-height:82px">
    <img class="img-responsive nearsoft" src="../images/ns.png" >
</nav>
<!-- TODO make a combo box for type of slide to be picked from, upload just full picture, slide type1, slide type2-->
<div class="log-container">
	<div class="row" style="margin-top:50px;">
		<form novalidate role="form"  class="col-xs-6 col-md-4">
			<input type="text" class="form-control" placeholder="Title" ng-model="slide.title">
			<textarea class="form-control" rows="3" placeholder="1st Paragraph" ng-model="slide.p1"></textarea>
			<textarea class="form-control" rows="3" placeholder="2st Paragraph" ng-model="slide.p2"></textarea>
			<div id="body">
			<div id="spin"></div>
			<input class="" type="file" accept="image/*" capture="camera" id="file-upload">
			<br/>
			
		</div>
			<button type="submit" class=" slide-btn btn btn-success" ng-click="newSlide()">Create Slide</button>
			
		</form>

		

		<div class="col-xs-12 col-md-8 slideView">


			<div class="row">
				<!-- make this a directive for multiple view to be shown as a slideshow -->
				<div id="lines" class="col-md1 Slideshow">
					<nav class="navbar title navbar-static-top" role="navigation">
						<h1 align="center" class="txt-title">{{slide.title}}
							<img class="img-circle img-responsive ns_logo" src="../images/nearsoft.png">
						</h1>
					</nav>	
					<!-- content begins here -->
					<div class="row" style="margin:20px; padding:20px;" align="center">
						<div class="slide-text-container col-xs-12 col-md-8">
							<p class="p1">
								<span id="bullets" class="glyphicon glyphicon-record"></span>
								{{slide.p1}}
							</p>

							<p>
								<span id="bullets" class="glyphicon glyphicon-record"></span>
								{{slide.p2}}


							</div>
							<!-- slideshow images -->
							<div class="col-xs-6 col-md-4">
								<div class="img">
									<img src="" id="pano" class=" img2 img-thumbnail"> <img class="pano" id="pano" />
								</div>
							</div>		
						</div>
						<!-- content ends here -->
					</div>		
				</div>
			</div>
		</div>
	</div>