<div class="row">
	<div class=" SevenG col-xs-6 col-md-3">
		<!-- 7Geese Dashboard goes here -->
	</div>

	<div id="lines" class="NsSlide col-xs-12 col-md-8">
		<nav class="navbar header navbar-static-top" role="navigation" style="min-height:82px">
			<h1 align="center">Nearsoft Slideshow
				<img class="img-circle img-responsive logo_slide" src="../images/nearsoft.png">
			</h1>
		</nav>
			<div class="container">
				<div class="row">
					<div class="slide_text col-xs-12 col-md-8">
						<p>Que onda gente, recuerden hoy gran carne asada  pago de derecho a piso, o para otros feria reclutamiento de TIEMPO, el cual podría ser pero no esta enfocado a eso simplemente a conocerlos y que nos conozcan, y por supuesto disfrutar la carne asada.</p>

						<p>Yo inicie preparar las cosas después de las 4:30, posiblemente la gente llegue entre 5 y 6.Espero contar con su presencia y apoyo.a claro que no se tiene que realizar pago alguno, ya que algunos han preguntando de cuanto nos toca.Saludos y disfruten
						</p>
						<p>Raul Rodriguez.</p>
					</div>
					<div class="col-xs-6 col-md-4">
						
						<img  src="../images/food.jpg" class="img-circle">
						<img src="../images/food2.jpg" class="img-thumbnail">
						<div class="lines"></div>
					</div>
					
				</div>
			</div>
	</div>
</div>