<div ng-controller="loginCtrl">

	<nav class="login-nav navbar" role="navigation" style="min-height:82px">
	    <img class="img-responsive nearsoft" src="../images/ns.png" >
	    <span style="float:right" ng-show="user"></span>
	</nav>
	<!-- <iframe id="preview" src="http://www.davidparrelli.com/sites/prestige/" frameborder="0" width="100%" height="753px"></iframe> -->
	<div class="log-container">
	  <h1 class="log-h1">TVScreenCasting</h1>
	  <h2 class="msg">please log in with g+</h2>
	  <a ng-click="#/admin" href=""><img class="g-plus img-circle" src="../images/gplus.png"></a>
	</div>
</div>